.project-container , .skill-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.project , .skill {
    width: 100%;
    max-width: 550px;
    padding: 20px;
    border-radius: 10px;
    transition: all .2s ease-in-out;
    display: flex;
    flex-direction: column;
    height: 300px; /* Altura fija para todos los proyectos */
    border: 1px solid #ccc; /* Borde para resaltar cada proyecto */
    margin-bottom: 20px; /* Espacio entre proyectos */
}

.skill{
    height: auto;
    background-color: #393e46c4;
}

.project {
    background-color: rgba(255, 255, 255, 0.85);
}

.project-title , .skill-title {
    color: var(--darker-color);
    font-weight: bold;
    font-size: 1.5rem;
    padding: 10px;
    box-sizing: border-box; /* Para incluir el padding en el tamaño total */
    overflow: hidden; /* Ocultar cualquier contenido que exceda el tamaño */
}

.skill-title{
    color: white;
}

.project-descripcion,
.project-link,.skill-img {
    padding: 10px;
    box-sizing: border-box; /* Para incluir el padding en el tamaño total */
    overflow: hidden; /* Ocultar cualquier contenido que exceda el tamaño */
    color: var(--dark-color);
    font-weight: 300;
}

.project-descripcion {
    max-height: calc(100% - 60px); /* 60px para dejar espacio para el título y el enlace */
    overflow-y: auto; /* Agregar barra de desplazamiento vertical si la descripción es muy larga */
}

.project-link a {
    text-decoration: none;
}

.project-link {
    margin-top: auto; /* Empujar el enlace hacia abajo para que esté siempre en la parte inferior */
}

.skill-company{
    color: white;
}